{% load static %}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');

:root {
    --cor-principal: #171a4a;
    --cor-preta: #000000;
    --cor-branca: #eae2e6;
    --cor-azul-clara: #99a6f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #60e1ed, #5bfacd);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--cor-branca);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

header {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--cor-branca);
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--cor-principal);
    font-family: 'Poppins';
}

.nav-menu-texto {
    font-size: 16px;
    padding: 2em;
}

.nav-menu-perfil {
    font-size: 16px;
    padding: 0.5em;
}
.div-logo {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-menu {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

div-logout {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cabecalho {
    height: 7vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.15fr 1fr 0.15fr;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.mensagem-sucesso {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Organiza o conteúdo em coluna */
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* ou um valor específico que prefira */
    height: 200px; /* Ajuste conforme necessário para o seu design */
    text-align: center;
}

.botao-container {
    display: flex;
    justify-content: center;
    padding-top: 20px; /* Ajuste conforme a necessidade para espaço acima do botão */
}

.botao-voltar {
    margin-top: 60px; /* Aumente o espaço conforme necessário */
    padding: 10px 20px;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.botao-voltar:hover {
    background-color: var(--cor-azul-clara);
}