@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary: rgb(104, 113, 183);
    --secondary: rgb(161, 167, 208);
    --container-bg: rgba(32, 34, 48, 0.426);
    
    --font-color: whitesmoke;
    
    --btn-color: rgb(49, 53, 90);
    --btn-pressed: rgb(31, 34, 57);
    --cor-principal:#171a4a;
    --cor-preta: #000000;
    --cor-branca: #eae2e6;
    --cor-azul-clara: #99a6f2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    width: 100vw;
}

body{
    /* margin: 0;
    overflow-x: hidden;
    overflow-y: hidden; */
    background-size: cover;
    background-position: center;
    background-image: url('/static/images/teste5.jpg');
}

.cabecalho {
    height: 7vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.15fr 1fr 0.15fr;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.glass {

    width: 35vw;
    height: 30vw;
    padding: 3rem 2.5rem; 
    background-color: #fcead6;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 25px;
    justify-content: center;
    align-items: center;

    /* background: rgb(255, 255, 255);
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(2px);
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */

}

.dados-titulo {
    font-size: 45px;
    font-weight: bold;
}

.dados-margin {

    margin-bottom: 1em;
    font-weight: 400;
    font-size: 18px;
    list-style-type: disc;
}

.dados {

    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    list-style-type: disc;

}

.dados-ul {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;   
    padding: 0.5em;
    max-width: 85%;
}
