body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.content-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.contact-info, .form-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Largura aumentada para o formulário */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #000;
    text-align: center;
}

/* Estilo específico para h1 e h2 dentro de contact-info para remover negrito */
.contact-info h1, .contact-info h2 {
    font-weight: normal;
}

label {
    color: #666;
    font-size: 20px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

textarea {
    height: 150px;
    resize: vertical;
}
