@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');

:root {
    --cor-principal:#171a4a;
    --cor-preta: #000000;
    --cor-branca: #eae2e6;
    --cor-azul-clara: #99a6f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100vw;
}
body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #8bd8ed;
    background: -webkit-linear-gradient(
        to right,
        #171a4a,
        #99a6f2
    );
    background: linear-gradient(
        to right,
        #60e1ed,
        #5bfacd
    );
}

header {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--cor-branca);
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--cor-principal);
    font-family: 'Poppins';
}

a:hover {

    color: var(--cor-azul-clara);
}

.nav-menu-texto {
    font-size: 16px;
    padding: 2em;
}

.nav-menu-perfil {
    font-size: 16px;

    padding: 0.5em;
}
.div-logo {
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.div-menu {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

div-logout {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cabecalho {
    height: 7vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.15fr 1fr 0.15fr;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #8bd8ed;
    background: -webkit-linear-gradient(
        to right,
        #60eddf,
        #4ff3c4
    );
    background: linear-gradient(
        to right,
        #60e1ed,
        #5bfacd
    );
}

.glass {

    background: rgb(255, 255, 255);
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(2px);
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.dados-titulo {

    font-family: 'Montserrat';
    font-size: 45px;
    color: var(--cor-principal);
}

h1 {

    margin-bottom: 2em;
}

.dados-margin {

    margin-bottom: 2em;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: var(--cor-preta);
    list-style-type: disc;
}

.dados {

    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: var(--cor-preta);
    list-style-type: disc;
}

.dados-ul {

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 12em;
}
