@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary: rgb(104, 113, 183);
    --secondary: rgb(161, 167, 208);
    --container-bg: rgba(32, 34, 48, 0.426);
    
    --font-color: whitesmoke;
    
    --btn-color: rgb(49, 53, 90);
    --btn-pressed: rgb(31, 34, 57);
    --cor-principal:#171a4a;
    --cor-preta: #000000;
    --cor-branca: #eae2e6;
    --cor-azul-clara: #99a6f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--cor-principal);
    font-family: 'Poppins';
}

a:hover {

    color:  #f6b74d;
}

.nav-menu-texto {
    font-size: 16px;
    padding: 2em;
}

.nav-menu-perfil {
    font-size: 16px;

    padding: 0.5em;
}

.div-logo {
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.div-menu {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

div-logout {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cabecalho {
    height: 7vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.15fr 1fr 0.15fr;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}