.nav-link {
    color: #263973;
    
}

.div-nav {

    display: flex;
    align-items: center;
    justify-content: center;
}

.div-nav-direita {

    display: flex;
    
}

a:hover {

    color: #6b7ff2;
}

.container-fluid {

    display: flex;
    align-items: center;
    justify-content: center;
    
}