{% load static %}
<link rel="stylesheet" href="{% static 'css/style_menu.css' %}">
<header>
    <div class="cabecalho">
        <div class="div-logo">
            <a href="{% url 'appsmartschool:home_professor' %}">SmartSchool</a>
        </div>
        <div class="div-menu">
            <ul>
                <li class="nav-item">
                    <a class="nav-menu-texto" href="{% url 'appsmartschool:registrar_presenca' %}">Registrar Presença</a>
                </li>
                <li class="nav-item">
                    <a class="nav-menu-texto" href="{% url 'appsmartschool:formulario_contato_prof' %}">Contato</a>
                </li>
            </ul>
        </div>
        <div class="div-logout">
            <a class="nav-menu-perfil" href="#">Perfil</a>
            <a class="nav-menu-perfil" href="{% url 'appsmartschool:logout' %}">Log out</a>
        </div>
    </div>
</header>