{% extends 'global/base_funcionario.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_cadastro_turma.css' %}">

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
    
<form class="formulario-cadastro" method="post" action="{% url 'appsmartschool:cadastro_turma' %}">
    {% csrf_token %}
    <h1>Cadastro da Turma</h1>
    <label for="serie">Série:</label>
    <input type="number" id="serie" name="serie" required>
    
    <label for="turma">Turma:</label>
    <input type="text" id="turma" name="turma" maxlength="1" required>
    
    <button class="btn-submit" type="submit">Cadastrar Turma</button>
</form>
{% endblock %}
