{% extends 'global/base_funcionario.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_cadastro_professor.css' %}">

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<form class="formulario-cadastro" method="post" action="{% url 'appsmartschool:cadastro_professor' %}">
    {% csrf_token %}
    <h1>Cadastro do Professor</h1>
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" required><br>

    <label for="matricula">Matrícula:</label>
    <input type="text" name="matricula" id="matricula" required><br>

    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" id="cpf" required><br>

    <label for="data_de_nascimento">Data de Nascimento:</label>
    <input type="date" name="data_de_nascimento" id="data_de_nascimento" required><br>

    <label for="telefone">Telefone:</label>
    <input type="text" name="telefone" id="telefone" required><br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required><br>

    <label>Disciplinas:</label><br>
    {% for disciplina in disciplinas %}
        <label>
            <input type="checkbox" name="disciplinas" value="{{ disciplina.id }}">
            {{ disciplina.nome }}
        </label><br>
    {% endfor %}

    <button class="btn-submit" type="submit">Cadastrar Professor</button>
</form>
{% endblock %}
