{% extends 'global/base_funcionario.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_cadastro_turma.css' %}">

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<form class="formulario-cadastro" method="post" action="{% url 'appsmartschool:cadastro_turma' %}">
    {% csrf_token %}
    <h1>Cadastro da Turma</h1>
    <label for="serie">Série:</label>
    <input type="number" id="serie" name="serie" required>
    
    <label for="turma">Turma:</label>
    <input type="text" id="turma" name="turma" required>

    <label for="materia_1">Matéria 1:</label>
    <input type="text" id="materia_1" name="materia_1" required>

    <label for="codigo_materia_1">Código da Matéria 1:</label>
    <input type="text" id="codigo_materia_1" name="codigo_materia_1" required>

    <label for="materia_2">Matéria 2:</label>
    <input type="text" id="materia_2" name="materia_2" required>

    <label for="codigo_materia_2">Código da Matéria 2:</label>
    <input type="text" id="codigo_materia_2" name="codigo_materia_2" required>

    <label for="materia_3">Matéria 3:</label>
    <input type="text" id="materia_3" name="materia_3" required>

    <label for="codigo_materia_3">Código da Matéria 3:</label>
    <input type="text" id="codigo_materia_3" name="codigo_materia_3" required>

    <label for="materia_4">Matéria 4:</label>
    <input type="text" id="materia_4" name="materia_4" required>

    <label for="codigo_materia_4">Código da Matéria 4:</label>
    <input type="text" id="codigo_materia_4" name="codigo_materia_4" required>

    <label for="docente">Docente:</label>
    <input type="text" id="docente" name="docente" required>

    <label for="matricula_docente">Matrícula do Docente:</label>
    <input type="text" id="matricula_docente" name="matricula_docente" required>

    <button class="btn-submit" type="submit">Cadastrar Turma</button>
</form>
{% endblock %}
