{% extends 'global/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '../static/css/style_dados_saude.css' %}">

<section>
  <div class="container">
    <div class="glass">
      {% for dado in dados %}
      <h1 class="dados-titulo">Dados de saúde</h1>
      <ul class="dados-ul">
        <li class="dados">Seu peso: {{dado.peso}} kg</li>
        <li class="dados">Sua altura: {{dado.altura}} cm</li>
        <li class="dados">Possui restrição alimentar: {{dado.restricao_alimentar}}</li>
        <li class="dados">Possui TDAH/TEA: {{dado.tdah}}</li>
        <li class="dados-margin">É PCD: {{dado.pcd}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}