{% extends 'global/base_aluno.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_dados_saude.css' %}">

<section>
  <div class="container">
    <div class="glass">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <h1 class="dados-titulo">Dados de Saúde do Aluno: {{ nome }}</h1>
      <ul class="dados-ul">
        <li class="dados">Seu peso: {{ peso }} kg</li>
        <li class="dados">Sua altura: {{ altura|floatformat:2 }} m</li>
        <li class="dados">Possui restrição alimentar: {{ restricao_alimentar }}</li>
        <li class="dados">Possui TDAH/TEA: {{ tdah }}</li>
        <li class="dados-margin">É PCD: {{ pcd }}</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}