<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Contato</title>
    <link rel="stylesheet" href="{% static 'css/style_formulario_contato.css' %}">
</head>

<body>
    <header>
        <div class="cabecalho">
            <div class="div-logo">
                <a href="{% url 'appsmartschool:pagina_home' %}">SmartSchool</a>
            </div>
            <div class="div-menu">
                <ul>
                    <li class="nav-item">
                        <a class="nav-menu-texto" href="{% url 'appsmartschool:dados-saude' %}">Dados de saúde</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-menu-texto" href="#">Boletim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-menu-texto" href="#">Horários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-menu-texto" href="{% url 'appsmartschool:frequencia_aluno' %}">Frequência</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-menu-texto" href="{% url 'appsmartschool:formulario_contato' %}">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="div-logout">
                <a class="nav-menu-perfil" href="#">Perfil</a>
                <a class="nav-menu-perfil" href="{% url 'appsmartschool:logout' %}">Log out</a>
            </div>
        </div>
    </header>

    <div class="content-wrapper">
        <div class="contact-info">
            <h1><strong>Telefone para Contato</strong></h1>
            <h2><strong>Segunda à Sexta:</strong> 7h às 20h</h2>
            <h2><strong>Sábados, Domingos e Feriados:</strong> Fechado</h2>
            <h2>(81) 3469-9988</h2>
            <h2><strong>Whatsapp:</strong> (81) 98654-9988</h2>
        </div>
        <div class="form-area">
            <div class="container">
                <h2>Ou se preferir, envie-nos um e-mail preenchendo os campos abaixo, e logo retornaremos o seu contato
                </h2>
                <form method="post" action="{% url 'appsmartschool:formulario_contato' %}">
                    {% csrf_token %}
                    <label for="id_nome">Nome:</label><br>
                    <input type="text" id="id_nome" name="nome" required><br>
                    <label for="id_email">Endereço de e-mail:</label><br>
                    <input type="email" id="id_email" name="email" required><br>
                    <label for="id_telefone">Telefone para contato:</label><br>
                    <input type="number" id="id_telefone" name="telefone"><br>
                    <label for="id_mensagem">Dúvida, pergunta ou solicitação (máximo 500 caracteres):</label><br>
                    <textarea id="id_mensagem" name="mensagem" maxlength="500" required></textarea><br>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
</body>

</html>