{% extends 'global/base_aluno.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_frequencia.css' %}">
<div class="container">
  <div class="header-section">
      {% for frequencia in frequencias %}
      <h1>Frequência</h1>
      <p>Colégio {{frequencia.colegio}}</p>
  </div>

  <div class="info-section">
    <div>Nome: {{ frequencia.nome }}</div>
    <div>Série: {{ frequencia.serie }}</div>
    <div>Matrícula: {{ frequencia.matricula }}</div>
</div>

<table>
  <thead>
    <tr>
        <th>Disciplina</th>
        <th>Frequência</th> <!-- Note que corrigi a tag de fechamento -->
        <th>Faltas</th>
        <th>Frequência (em %)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{ frequencia.materia_1 }}</td>
        <td>{{ frequencia.faltas_da_materia_1 }}</td>
        <td>{{ frequencia.aulas_da_materia_1 }}</td>
        <td>{{ frequencia.porcentagem_da_materia_1 }}%</td>
    </tr>
    <tr>
        <td>{{ frequencia.materia_2 }}</td>
        <td>{{ frequencia.faltas_da_materia_2 }}</td>
        <td>{{ frequencia.aulas_da_materia_2 }}</td>
        <td>{{ frequencia.porcentagem_da_materia_2 }}%</td>
    </tr>
    <tr>
        <td>{{ frequencia.materia_3 }}</td>
        <td>{{ frequencia.faltas_da_materia_3 }}</td> 
        <td>{{ frequencia.aulas_da_materia_3 }}</td>
        <td>{{ frequencia.porcentagem_da_materia_3 }}%</td>
    </tr>
    <tr>
      <td>{{ frequencia.materia_4 }}</td>
      <td>{{ frequencia.faltas_da_materia_4 }}</td>
      <td>{{ frequencia.aulas_da_materia_4 }}</td>
      <td>{{ frequencia.porcentagem_da_materia_4 }}%</td>   
    </tr>
  {% endfor %}
  </tbody>
  {% endblock %}
