{% extends 'global/base_aluno.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_frequencia.css' %}">
<div class="container">
        <div class="info-section">
            <div>Nome: {{ user_aluno.nome }}
                <div class="linha"></div>
            </div>
            <div>Série: {{ user_aluno.serie }}º
                <div class="linha"></div>
            </div>
            <div>Matrícula: {{ user_aluno.matricula }}
                <div class="linha"></div>
            </div>
        </div>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if 'frequencia' in message.tags %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endif %}
        {% endfor %}
    </ul>
{% endif %}

<div class="glass-table">
    {% if frequencia_dados %}
    <table>
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Total de Aulas</th>
                <th>Faltas</th>
                <th>Porcentagem de presença</th>
            </tr>
        </thead>
        <tbody>
            {% for item in frequencia_dados %}
            <tr>
                <td>{{ item.disciplina }}</td>
                <td>{{ item.total_aulas }}</td>
                <td>{{ item.faltas }}</td>
                <td>{{ item.porcentagem_faltas|floatformat:2 }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nenhuma frequência registrada ainda.</p>
    {% endif %}
</div>
</div>
{% endblock %}
