{% extends 'global/base_aluno.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_frequencia.css' %}">


{% for frequencia in frequencias %}
<h1 id="frequencia">Frequência</h1>
<h1 id="colegio">Colégio {{frequencia.colegio}}</h1>

<div id="div">
  <h2 id="nome">Nome: {{frequencia.nome}}</h2>
  <h2 id="serie">Série: {{frequencia.serie}} Ano</h2>
  <h2 id="matricula">Matrícula: {{frequencia.matricula}}</h2>
</div>

<table id="tabela">
  <tr>
    <td id = "negrito">Frequência</td>
    <td id = "negrito">{{frequencia.materia_1}}</td>
    <td id = "negrito">{{frequencia.materia_2}}</td>
    <td id = "negrito">{{frequencia.materia_3}}</td>
    <td id = "negrito">{{frequencia.materia_4}}</td>
  </tr>
  <tr>
    <td id = "negrito">Faltas</td>
    <td>{{frequencia.faltas_da_materia_1}}</td>
    <td>{{frequencia.faltas_da_materia_2}}</td>
    <td>{{frequencia.faltas_da_materia_3}}</td>
    <td>{{frequencia.faltas_da_materia_4}}</td>
  </tr>
  <tr>
    <td id = "negrito">Frequência (em %)</td>
    <td>{{frequencia.porcentagem_da_materia_1}}%</td>
    <td>{{frequencia.porcentagem_da_materia_2}}%</td>
    <td>{{frequencia.porcentagem_da_materia_3}}%</td>
    <td>{{frequencia.porcentagem_da_materia_4}}%</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
