<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horário</title>
</head>
<body>
    

    <h2>Horário de Aulas</h2>
    <table>
        <thead>
            <tr>
                <th>Dia da Semana</th>
                <th>Horario Início</th>
                <th>Horario Fim</th>
                <th>Matéria</th>
                <th>Professor</th>
            </tr>
        </thead>
        <tbody>
            {% for horario in horarios %}
            <tr>
                <td>{{ horario.dia_semana }}</td>
                <td>{{ horario.horario_inicio }}</td>
                <td>{{ horario.horario_fim }}</td>
                <td>{{ horario.materia }}</td>
                <td>{{ horario.professor.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>