<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_login_aluno.css' %}">
    <title>Login Aluno</title>
</head>
<body>
    <div class="container">
        <h1 class="titulo-login">Bem vindo, aluno!</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="cpf">Digite o seu CPF:</label>
                <input placeholder="000.000.000-00" type="text" id="cpf" name="cpf"><br>
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input placeholder="your password" type="password" id="senha" name="senha">
            </div>
            <input class="btn-submit" type="submit" value="Login">
        </form>
    </div>
</body>
</html>