<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_login_aluno.css' %}">
    <title>Login Aluno</title>
</head>
<body>
    <div class="container">
        <h1 class="titulo-login">Bem vindo, aluno!</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Digite o seu CPF:</label>
                <input placeholder="Digite apenas números" type="text" id="username" name="username"><br>
            </div>
            <div>
                <label for="password">Senha:</label>
                <input placeholder="Digite seu número de matrícula" type="password" id="password" name="password">
            </div>
            <input class="btn-submit" type="submit" value="Login">
        </form>
    </div>
</body>
</html>