<!DOCTYPE html>]
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_tela_inicial.css' %}">
    <title>Smart School</title>
</head>

<body>
    <div class="split left">
        <div class="centered">
            <img class="img-background" src="{% static 'images/circulo.png' %}">
            <img class="img-home" src="{% static 'images/pen.png' %}">
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <h1>Smart School</h1>
            <a href="{% url 'appsmartschool:login_aluno' %}"><button class="botao">Aluno</button></a>
            <a href="{% url 'appsmartschool:login_professor' %}"><button class="botao">Professor</button></a>
            <a href="{% url 'appsmartschool:login_funcionario' %}"><button class="botao">Funcionário</button></a>
        </div>
    </div>

</body>

</html>