{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados de saúde</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_dados_saude.css' %}"> 
  </head>
  
  <body class="body">
    <header class="navbar navbar-expand-lg navbar-light bg-light">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
              <a class="navbar-brand" href="#">SmartSchool</a>
              <div class="div-nav">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Dados de saúde</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Boletim</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Horários</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Frequência</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                  </li>
                </ul>
              </div>
              <div class="div-nav-direita">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Perfil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Log out</a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <section class=".container">
      <div class="blockquote text-center">
        {% for dado in dados %}
        <h1 class="display-3">Dados de saúde </h1>
        <p class="dados">Peso: {{dado.peso}}</p>
        <p class="dados">Altura: {{dado.altura}}</p>
            <p class="dados">Restrição alimentar: {{dado.restricao_alimentar}}</p>
            <p class="dados">PCD: {{dado.pcd}}</p>
            <p class="dados">TDAH/TEA: {{dado.tdah}}</p>
            {% endfor %}
        </div>
        <div class="blockquote text-center">    
            <button type="button" class="btn btn-outline-primary">Voltar</button>
        </div>
        <!-- adicionar a url -->
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>